<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="ApiKey" value="-53ZmRJeD4jvCPGX-3_qORFTenTk_5Ju"/>
      <add key="InputPath" value="C:\Users\Max\Pictures\Wallpapers - For wallpaper changer"/>
      <add key="OutputPath" value="C:\Users\Max\Desktop\TestPnger\New folder"/>
    </appSettings>
</configuration>
