<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="ApiKey" value=""/>
      <add key="InputPath" value=""/>
      <add key="OutputPath" value=""/>
    </appSettings>
</configuration>
